.footer {
    background-color: #01012C;
    color: #FFCC00;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
  }
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  
  
  
  
  
  
  