/* Global body styling */
body {
  margin: 0; /* Removes default margin applied by the browser */
  
  /* Sets a list of system and web-safe fonts for the body text */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    
  /* Ensures smooth font rendering on Apple devices (iOS/macOS) */
  -webkit-font-smoothing: antialiased; 
  
  /* Ensures smooth font rendering on Firefox on macOS */
  -moz-osx-font-smoothing: grayscale;
}

/* Styling for code elements */
code {
  /* Sets a list of monospaced fonts for displaying code */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
